@import "tailwindcss";

.scroll-stack-container::-webkit-scrollbar {
  display: none;
}

.scroll-stack-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
@keyframes fadeScale {
  0%   { opacity: 0; transform: scale(0.5); }
  50%  { opacity: 1; transform: scale(1.1); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-fade {
  animation: fadeScale .35s ease;
}
